html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

/*geral class */
.wrapper {
    width: 1200px;
    display: flex;
    margin: 15px;
    background-color: rgb(1, 36, 24);
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
/* sobre o menu */
.menu {
    
    font-family: arial;
    width: 15%;
    background-color: #0e6328;
    padding: 10px 20px 0px;
}
li,a:link{ list-style-type: none;
    color: #f1f1f1;
    text-decoration: none;
}
a:visited{color: #f1f1f1;}
/* sobre o menu */

.header {

    background-color: #0e6328;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    
}
.content, h2{
    font-size: 30px;
    font-family: arial;
    color: #0e6328;

}
.content, p{
    font-family: arial;
    color: black;

}

 
section{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 95vh;
  
}
form{
    font-family: arial;
    
}
.formul,input, form textarea{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    color: #0e6328;
    
}
.formul, input, form, button{
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    

}
.footer {
    padding: 20px;
  color: #f1f1f1;
    min-height: 150px;
}
.footer, a, i{
    font-size: 20px;
    padding: 5px;
}